@model Fjordens_Service_ver2.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <div class="form-inline">

                <label class="control-label">Templates: </label>
                @Html.DropDownList("TemplatesList", new SelectList(@Model.Templates, "TemplateId", "TemplateName"), new { @id = "templatesList", @class = "form-control" })

                <button id="addTemp" class="btn btn-default">Opret template</button>
                @Html.ActionLink("Rediger Templates", "Index", "Template", null, new { @id = "editTempLink", @class = "btn btn-default" })

            </div>
        </div>
          
        <div class="col-lg-5">

            <div class="form-inline">

                <label class="control-label">Medarbejdere: </label>
                @Html.DropDownList("employeeList2", new SelectList(@Model.EmployeesList2, "Id", "Name"), new { @id = "employeesList2", @class = "form-control" })
            </div>

        </div>   
        
            
    </div>
    

    <div id="calendar"></div>

</div>

<div id="eventPopUp" style="display: none" title="Ny begivenhed">
    <form id="eventForm">
        <fieldset>
            @Html.Partial("popPartial", Model)
        </fieldset>
    </form>
</div>

@section Scripts{
    <script src="~/Scripts/Calendar/sharedcalfuncs.js"></script>
    <script src="~/Scripts/Calendar/calendar.js"></script>
}