@model Fjordens_Service_ver2.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}
@Html.DropDownList("CustomersList", new SelectList(@Model.Templates, "TemplateId", "TemplateName"), new { @id = "templatesList" })<br />

<div id="calendar"></div>

<div id="eventPopUp" style="display: none" title="Ny begivenhed">
    <form id="eventForm">
        <fieldset>
            <label>Title</label><br />
            <input type="text" id="eventTitle"/><br />
            <label>Dato</label><br/>
            <input type="text" id="eventDate"/><br />
            <label>Start tid</label><br />
            <input type="text" id="eventStartTime"/><br />
            <label>Slut tid</label><br />
            <input type="text" id="eventEndTime"/><br />
            <label>Virksomhed</label><br />
            @Html.DropDownList("CustomersList", new SelectList(@Model.Customers, "CustomerId", "Company"), new { @id = "customersList"})<br />
            <label>Medarbejder</label><br />
            @Html.DropDownList("EmployeeList", new SelectList(@Model.Employees, "EmployeeId", "FirstName"), new { @id = "employeesList" })<br />
            <label>Note</label><br />
            <textarea id="eventNote"></textarea><br />
            <label>Template</label><br />
            @Html.DropDownList("CustomersList", new SelectList(@Model.Templates, "TemplateId", "TemplateName"), new { @id = "templatesList2" })
        </fieldset>
    </form>
</div>

@section Scripts{
    <script src="~/Scripts/Calendar/calendar.js"></script>

}