@model Fjordens_Service_ver2.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}
@Html.DropDownList("TemplatesList", new SelectList(@Model.Templates, "TemplateId", "TemplateName"), new { @id = "templatesList" })

<button id="addTemp">Opret template</button>

@Html.ActionLink("Rediger Templates", "Index", "Template")

@Html.DropDownList("employeeList2", new SelectList(@Model.EmployeesList2, "Id", "Name"), new { @id = "employeesList2"})

<div id="calendar"></div>

<div id="eventPopUp" style="display: none" title="Ny begivenhed">
    <form id="eventForm">
        <fieldset>
            @Html.Partial("popPartial", Model)
        </fieldset>
    </form>
</div>

@section Scripts{
    <script src="~/Scripts/Calendar/calendar.js"></script>
}