@model Fjordens_Service_ver2.Models.Employee

<div>
    <div>
        @Html.Label("Navn")
        @Html.TextBoxFor(m => m.Name)
    </div>
    <div>
        @Html.Label("Addresse")
        @Html.TextBoxFor(m => m.Address)
    </div>
    <div>
        @Html.Label("Email")
        @Html.TextBoxFor(m => m.Email)
    </div>
    <div>
        @Html.Label("Telefon")
        @Html.TextBoxFor(m => m.PhoneNumber)
    </div>
    <div>
        @Html.Label("Beskrivelse")
        @Html.TextBoxFor(m => m.Description)
    </div>
</div>
