@model Fjordens_Service_ver2.ViewModels.CustomersViewModel

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <h2>Kunder</h2>
        @Html.ActionLink("Opret", "Create", "Customer")
    </div>    

        @foreach (var customer in Model.Customers)
        {
            <div class="row">

                <hr />
                <div class="form-group">
                    <h3>@customer.Company</h3>
                    @Html.ActionLink("Rediger", "Edit", "Customer", new { id = customer.CustomerId }, null)
                    @Html.ActionLink("Slet", "Delete", "Customer", new { id = customer.CustomerId }, null)
                </div>

                <div class="form-group">
                    <h4>Info</h4>
                    <label>Adresse: </label><label>@customer.Address</label><br />
                    <label>Email: </label><label>@customer.Email</label><br />
                    <label>Telefon: </label><label>@customer.PhoneNumber</label><br />
                    <label>Kontakt Person: </label><label>@customer.ContactPerson</label>
                </div>
                <div class="for-group">
                    <h4>Opgaver</h4>
                    <p>@customer.Tasks</p>
                </div>
            </div>

        }
    

</div>

